.headercontent{
    position: absolute;
    color: white;
    text-align: center;
    padding-top:50%;
    width: 100%;


}
#about{
    padding: 20px;
    text-align: center;
}
.servicescontent{
    position: absolute;
    color: white;
    text-align: center;
    padding-top:20%;
    width: 100%;
    
}