.section1{
    text-align: center;
    padding: 30px;
    background-color: black;
    background-image: url(../images/backgrounds/h_img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: cornsilk;
    height: 600px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.text{
    color: cornsilk;
}
#mouse{
    padding-top: 13%;
    padding-bottom: 1%;
  }


.section2{
    background-color: white;
}
.section3{
    padding: 100px;
    background-image: url(../images/backgrounds/s_image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.design{
    display: none;

}
.development{
    display: none;
    
}
.product{
    display: none;
}
.section4{
    background-color: white;
    
}
.text2{
    text-align: center;
}
.text3{
    text-align: center;
    color: cornsilk;
}



.one{
    display: none;
}



.section5{
    
    background-color: black;
    background-image: url(../images/backgrounds/c_image.jpg); 
    background-size: 100%;   
    background-repeat: no-repeat;

}#name{
    margin-left: 15%;
    color :white;
  }
  #email{
    margin-left:7%
    
  }
  #form textarea{
    background-color: transparent;
    color: white;
  }
  textarea::placeholder{
    color: white;
  }
.img{
    float: right;
    position: relative;
    margin: 5px;

}
.img .porttext {
    display: none;
    opacity: 1;
    background-color:rgba(255, 255, 255, 0.6);
    width: auto;
    position: absolute;
    bottom: 0;
    color: deepskyblue;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    height: 100%;
}



       
    
    



